
a {
    text-decoration: none;
  }
  
  .center-bottom {
    position: absolute;
    top: 30%;
    left: 71%;
    transform: translate(-50%, -50%);
  }

  .center-bottom2 {
    position: absolute;
    top: 60%;
    left: 71%;
    transform: translate(-50%, -50%);
  }
  

  .center-bottom3 {
    position: absolute;
    top: 44%;
    left: 11%;
    transform: translate(-50%, -50%);
  }

  .center-bottom4 {
    position: absolute;
    top: 10%;
    left: 100%;
    transform: translate(-50%, -50%);
  }
  .center-bottom5 {
    position: absolute;
    top: 80%;
    left: 91%;
    transform: translate(-50%, -50%);
  }
  img {
    display: block;
    margin: 0 auto;
}

img {
  max-width: 100%;
}

img {
  max-height: 100%;
}
